@import "../themes/zerm/sass/variables";

.header .menu {
    color: var(--color);
    --shadow-color: var(--accent-alpha-70);    
}

.header .menu__sub-inner-more {
    color: var(--color);
}

.container {
    margin: auto auto auto 10%;
    // max-width: 980px;
    @media (max-width: $phone-max-width) {
        margin: unset;
    }

    @media (max-width: $tablet-max-width) {
        margin: unset;
    }
    // .content {
    //     display: block;
    // }
}

.pagination {
    &__buttons {
        margin: -10%;
    }
}

.posts {
    min-width: 60%;
}

.post {
    margin-top: -3%;
    margin-bottom: -3%;

    &-title{
        @media (max-width: $phone-max-width) {
            margin-top: 5%;
        }
    }

    @media (max-width: $tablet-max-width) {
        margin: unset;
    }
}

.cc {
    height: 1em;
    display: inline-flex;
    vertical-align: middle;
}
//     ul {
//         li:before {
//             content: '⊢';
//         }
//     }
// }

.tag-list {
    @media(max-width: $phone-max-width) {
        margin-left: 5%;
    }
}

h1, h2, h3, h4, h5, h6 {
    &:not(first-child) {
        margin-top: 20px;
    }
}

hr {
    height: 1px;
    background-color: var(--accent-alpha-20);
    margin-top: 10%;
}

.profile-pic {
    margin: 0 25% 0 25%;

    @media(max-width: $phone-max-width) {
        // margin: 0 5% 0 5%;
        margin: 0 3% 0 3%;
    }

    img {
        max-width: 420px;
        border-radius: 25%;

        @media(max-width: $phone-max-width) {
            max-width: 100%;
        }
        @media(max-width: $tablet-max-width) {
            max-width: 100%;
        }
    }
}

.log-title {
    font-size: 1.0em;
    max-width: 25%;
    border-bottom: unset;
    margin-bottom: 5px;
    padding-bottom: unset;

    &:after {
        border-bottom: unset;
    }
}

table, th, td {
  padding: 5px;
}

.logs {
        /* TODO: fix ul listing for $logs page */
    ul {
        list-style: none;

        li:before {
            content: '⦿';
            vertical-align: 30%;
            position: absolute;
            left: -20px;
            /* i am an expert of my craft and don't exactly why this looks off
             * like this. assuming it's the relative title sizing i've
             * copy and pasted into styling the log headers. */
            bottom: -1px;
            color: var(--accent);
        }
    }
}

.log {
    @media(max-width: $phone-max-width) {
        white-space: nowrap;
    }
}
