:root {
  --accent: rgb(40, 40, 40);
  --accent-alpha-20: rgba(40, 40, 40, .2);
  --accent-alpha-70: rgba(40, 40, 40, .7);
  --background: rgb(241, 241, 241);
  --color: black;
  --border-color: rgba(255, 255, 255, .1);
}

body {
    background-color: rgb(245, 245, 245);
}

.logo {
    color: #F5F5F5;
}
