@import "../../themes/zerm/sass/variables";

:root {
  --accent: rgb(40, 40, 40);
  --accent-alpha-20: rgba(40, 40, 40, .2);
  --accent-alpha-70: rgba(40, 40, 40, .7);
  --background: rgb(241, 241, 241);
  --color: black;
  --border-color: rgba(255, 255, 255, .1);
}

body {
    background-color: rgb(245, 245, 245);
}

.logo {
    color: #F5F5F5;
}

.header .menu {
    color: var(--color);
    --shadow-color: var(--accent-alpha-70);    
}

.header .menu__sub-inner-more {
    color: var(--color);
}

.container {
    border-right: 1px solid rgba(40, 40, 40, 0.1);
    margin: auto auto auto 10%;
    @media (max-width: $phone-max-width) {
        margin: unset;
    }
}

.pagination {
    &__buttons {
        margin: -10%;
    }
}

.post {
    margin-top: -10px;

    &-title{
        @media (max-width: $phone-max-width) {
            margin-top: 5%;
        }
    }
}

.cc {
    height: 1em;
    display: inline-flex;
    vertical-align: middle;
}
//     ul {
//         li:before {
//             content: '⊢';
//         }
//     }
// }

.tag-list {
    @media(max-width: $phone-max-width) {
        margin-left: 5%;
    }
}

code {
    background-color: rgba(40, 40, 40, .1);
}

pre {
    background-color: #e8e8e8 !important;// #F5F5F5 !important;// #d4d8d9 !important;// 
    border-top: 1px solid rgba(20, 20, 20, .5);
    border-bottom: 1px solid rgba(20, 20, 20, .5);
}

h1, h2, h3, h4, h5, h6 {
  &:not(first-child) {
    margin-top: 20px;
  }
}
