{% macro head(config) %}

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="description" content="{{ config.description }}"/>

{# -- Theme CSS -- #}
<link rel="stylesheet" href="{{ get_url(path="assets/style.css") }}">
{% if config.extra.theme_color != "orange" -%}
{% set color = "assets/" ~ config.extra.theme_color ~ ".css" -%}
<link rel="stylesheet" href="{{ get_url(path=color) }}">
{% endif %}

{# TODO: add rss, favicons, social media preview, and maybe google adsense #}

{% endmacro head %}
