{% macro meta(page, config, author) %}
<div class="post-meta">
    <span class="post-date">
        {{ page.date | date(format="%Y.%m.%d") }}
    </span>
    {%- if author -%}
    <span class="post-author">
        {{ utils::pdate(page=page, config=config)}}
    </span>
    {%- endif -%}
</div>
{% endmacro meta %}

{% macro taxonomy(taxonomy, disp_cat, disp_tag) %}

{% if disp_cat and disp_tag -%}
    <span class="post-tags">
        {% if taxonomy.categories-%}
            ::&nbsp;{{ "{" }}
            {% for cat in taxonomy.categories -%}
                <a href="{{ get_taxonomy_url(kind="categories", name=cat ) }}"> 
                {{ cat }}
                </a>&nbsp;
                {# end of cats for-loop #}
            {% endfor -%}
            {{ "}" }} ::&nbsp;
            {# end if-check for categories #}
        {% endif -%}
        
        {% if taxonomy.tags -%}
            {% for tag in taxonomy.tags -%}
                #<a href="{{get_taxonomy_url(kind="tags", name=tag )}}">
                {{ tag }}
                </a>&nbsp;
                {# end of tags for-loop #}
            {% endfor -%}
            {# end if-check for tags #}
        {% endif -%}
    </span>
{% elif disp_cat -%}
    <span class="post-tags">
        {% if taxonomy.categories-%}
            {{ "{" }}
            {% for cat in taxonomy.categories -%}
                <a href="{{ get_taxonomy_url(kind="categories", name=cat ) }}">
                    {{ cat }}
                </a>&nbsp;
                {# end of cats for-loop #}
            {% endfor -%}
            {{ "}" }} ::&nbsp;
            {# end if-check for categories #}
        {% endif -%}
    </span>
{% elif disp_tag -%}
    {% if taxonomy.tags -%}
        <span class="post-tags">
            {% for tag in taxonomy.tags -%}
                #<a href="{{get_taxonomy_url(kind="tags", name=tag )}}">
                {{ tag }}
                </a>&nbsp;
                {# end of tags for-loop #}
            {% endfor -%}
        </span>
        {# end if-check for tags #}
    {% endif -%}
    {# end if-check for BOTH disp bools #}
{% endif -%}
{% endmacro post_taxonomy %}

{% macro tags(tags) %}
    {# TODO #}
{% endmacro tags %}
