<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- 
     *TODO*
     
     Would be very nice to get this level of behavior using tera templates, but moving on for now.
     <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.Subtitle }}{{ else }}{{ .Summary | plainify }}{{ end }}"/> 
-->
<<meta name="description" content="{{ config.description }}"/>

<!-- Theme CSS -->
<link rel="stylesheet" href="{{ get_url(path="style.css") }}">
{% if config.extra.theme_color != "orange" -%}
{% set color = "color/" ~ config.extra.theme_color ~ ".css" -%}
<link rel="stylesheet" href="{{ get_url(path=color) }}">
{% endif %}

<!-- 
     *TODO* 

     Custom CSS to override theme properties (/static/style.css)
     {{ if (fileExists "static/style.css") -}}
     <link rel="stylesheet" href="{{ "style.css" | absURL }}">
     {{- end }}
-->
