<div class="posts">
    
    {%- for page in paginator.pages -%}
        <div class="post on-list">
            <h1 class="post-title">
                <a href="{{ page.permalink }}">{{ page.title }}</a></h1>
            <div class="post-meta">
                <span class="post-date">
                    {{ page.date | date(format="%Y.%m.%d") }}
                </span>
                <span class="post-author">:: {% if page.author %}{{ page.author }}{% else %}{{ config.extra.author }}{% endif %}</span>
            </div>
            {% if page.taxonomies.tags -%}
            <span class="post-tags">
                {% for tag in page.taxonomies.tags -%}
                #<a href="{{get_taxonomy_url(kind="tags", name=tag )}}">{{ tag }}
                </a>&nbsp;
                {# end of tags for-loop #}
                {% endfor -%}
            </span>
            {# end if-check for tags #}
            {% endif-%}
            
            {% if page.taxonomies.categories -%}
            <span class="post-tags">
                {% for cat in page.taxonomies.categories -%}
                <a href="{{get_taxonomy_url(kind="categories", name=cat )}}">{{ "{" }}{{ cat }}{{"}"}}
                </a>&nbsp;
                {# end of cats for-loop #}
                {% endfor -%}
            </span>
            {# end if-check for categories #}
            {% endif-%}
            
            {#                NOTE              -#}
            {# --------------------------------  #}
            {# Skipping the Cover page implementation. Not included/covered for now. #}
            <div class="post-content">
                {%  if page.description -%}
                    {{ page.description }}
                    {# end if-check for description -#}
                {%  endif -%}
            </div>
            {% if page.description -%}
                <div>
                    <a class="read-more button" href="{{ page.permalink }}">{{ config.extra.read_more }} →</a>
                </div>
            {% endif -%}
        </div>
        {# End of pagination for-loop #}
    {%- endfor -%}
    {#- I don't put pagination here like Terminal does. I don't like how
    the buttons move with the size of post entries in the content div. -#}
</div>
