@import '../main.css';
@import '../header.css';
@import '../logo.css';
@import '../pagination.css';
@import '../post.css';
@import '../variables.css';

:root {
    --accent: #282828;
    --background: color-mod(var(--accent) blend(#F5F5F5 98%));
    /* --background: #F5F5F5; */
    --color: black;
    --border-color: rgba(255, 255, 255, .1);
}

body {
    background-color: #F5F5F5;
}

.logo {
    color: #F5F5F5;
}

.header .menu {
    color: var(--color);
    --shadow-color: color-mod(var(--accent) a(80%));    
}

.header .menu__sub-inner-more {
    color: var(--color);
}

.container {
    border-right: 1px solid rgba(40, 40, 40, 0.1);
}
