{% import "macros/head.html" as head -%}
{% import "macros/logo.html" as logo -%}
{% import "macros/header.html" as header -%}
{% import "macros/lists.html" as lists -%}
{% import "macros/posts.html" as posts -%}
{% import "macros/social.html" as social -%}
{% import "macros/utils.html" as utils -%}
<!DOCTYPE html>
<html lang="{{ config.default_language }}">
    <head>
        {%- block header %}
        <title>{{ config.title }}</title>
        {%- endblock header -%}

        {{ head::head(config=config) }}
    </head>
    <body>
        {#
        "container full" when width == True, regardless of center
        "container center" when only center == True
        "container" when both false.
        #}
        {% if config.extra.full_width -%}
        {% set container = "container full" -%}
        {% elif config.extra.center -%}
        {% set container = "container center" -%}
        {% else -%}
        {% set container = "container" -%}
        {% endif -%}

        <div class="{{ container }}">
            {{ header::header(config=config) }}
            <div class="content">
                {% block main -%}
                {{ lists::list_pages(config=config) }}
                {# include "snippets/list.html" -#}
                {% endblock main -%}
            </div>
            {#- 
            I keep pagination out of list, unlike Terminal, because I don't
            like how the pagination buttons move with the width of the content 
            div.
            -#}
            {% include "snippets/pagination.html" -%}

            {% block footer -%}
            {% include "snippets/footer.html" -%}
            {% endblock footer -%}
        </div>
    </body>
</html>
