{% extends "zerm/templates/index.html" -%}
{% import "_macros.html" as macros %}

{%- block title %}
    <title> 404 :: {{  config.extra.author }}</title>
    {# TODO: make some kind of social media linking, i guess? #}
    {#%- include "snippets/social.html" %#}
{%- endblock title -%}

{%- block og_preview -%}
    <meta property="og:title" content="{{ social::og_title() }}" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ get_url(path="404.html") }}"/>
    <meta property="og:description" content="{{ social::og_description() }}"/>
    {%- if config.extra.og_preview_img -%}
        <meta property="og:image" content="{{ get_url(path="config.extra.og_preview_img") }}"/>
    {%- endif -%}
{%- endblock og_preview -%}

{%- block main -%}
    <div class="post">
        <h1 class="post-title">
            error 404
        </h1>
        <div class="post-content">
            <h1>page not found</h1>
            <p>
                the content you were looking for can't be found. if that's a
                mistake, please feel free to
                <a href="{{ get_url(path="/contact/") }}">contact me</a> or
                <a href="https://github.com/ejmg/ageof.info/issues">open an issue</a>.
            </p>
            <div style="max-width: 80%; margin: 0 10% 0 10%;">
                <img src="{{  get_url(path="oni.jpg") }}" alt="laughing oni" style="border-radius: 25%">
            </div>
            <p><a href="{{ config.base_url }}">return to index</a>.</p>
        </div>
    </div>
{%- endblock main -%}

{%- block copyright -%}
    {{ macros::copyright() }}
{%- endblock copyright -%}
